<ion-content color="dark" [fullscreen]="true">

  <ion-row>
    <ion-col>
      <ion-icon  color="light"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-item lines="none" class="align" color="danger">
    <ion-button color="danger" class="rowStyleButton" (click)="goTo('sign-in')"  type="submit">Sign In</ion-button>
  </ion-item>
  <ion-item lines="none" class="align" color="danger" (click)="goTo('sign-up')">
    <ion-button color="danger" class="rowStyleButton">Sign Up</ion-button>
  </ion-item>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
